/* Write your CSS here */
.app-container {
  background-image: linear-gradient(
    to right,
    #fa7257,
    #fc63a7,
    #dd1264,
    #fddddb
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-1 {
  background-color: #ffffff;
  color: #dd1264;
  border-radius: 5px;
  padding: 10px;
  border-color: #ffffff;
  margin-right: 60px;
}

.button {
  background-color: #ffffff;
  color: #dd1264;
  border-radius: 5px;
  padding: 10px;
  border-color: #ffffff;
  margin-left: 60px;
}

.show {
  padding: 30px;
  background-color: #ffffff;
  color: black;
  font-family: 'Roboto';
}
